USE [DemoCRUD]
GO
/****** Object:  Table [dbo].[StudentsTb]    Script Date: 3/17/2021 9:39:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsTb](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[RollNumber] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[Mobile] [varchar](15) NULL,
 CONSTRAINT [PK_StudentsTb] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentsTb] ON 

INSERT [dbo].[StudentsTb] ([StudentID], [Name], [FatherName], [RollNumber], [Address], [Mobile]) VALUES (4, N'Nguyễn Hoàng', N'Vương', N'5951071124', N'Q9', N'0347689482')
INSERT [dbo].[StudentsTb] ([StudentID], [Name], [FatherName], [RollNumber], [Address], [Mobile]) VALUES (5, N'Nguyễn Hoàng', N'Nhật', N'025485458', N'Q9', N'02536521254')
SET IDENTITY_INSERT [dbo].[StudentsTb] OFF
GO
